# ignore all output
*.dot
*.aut
*.pdf
*.png
# ignore all object files
*.o
*.so
evaluation/*.o
# ignore binaries
./dfasat
./flexfringe
./lingeling
# py++ temporary files
exposed_decl.pypp.txt
named_tuple.py
indexing_suite/*
generated.cpp
gitversion.cpp
# articfacs
.DS_Store
# data files
PAutomaC-competition_sets/*

# other files
processidentification/
